a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

title {
  display: block;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
}

.nav {
  /* Add flex properties here */
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: 30px;
  top: -10px;
}

.nav__links {
  /* Reset default list styles here */
  display: flex;
  margin: 0px 0px 0px;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.nav__link {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter";
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin: 183px 80px 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  letter-spacing: -0.6px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  display: block;
}

.header__description {
  max-width: 650px;
  margin: 32px 80px 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 135px;
  right: 20px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0px 10px 0px 80px;
  padding: 2px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.recipes {
  padding: 100px 70px 215px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #0a2750;
  background-position: center;
  background-size: cover;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
}

.recipes__video-caption {
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__title {
  max-width: 580px;
  margin: 0px 0px 0px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 430px;
  margin: 24px 0px 0px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  align-items: center;
  height: 480px;
  width: 273px;
  gap: 40px;
  margin: 40px 0px 0px 105px;
}

.recipes__video-text {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.events__content {
  flex-basis: 580px;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__icon_type_calendar {
  background-image: url(../images/icon_calendar.svg);
}

.event-info__icon_type_pin {
  background-image: url(../images/icon_pin.svg);
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  color: #2f80ed;
  text-decoration: none;
}

.reservation {
  padding: 100px 70px 120px;
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-position: center;
  background-size: cover;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
}

.form-container {
  height: 100%;
  display: block;
  margin-bottom: 120px;
}

.form {
  margin: 0 auto;
  max-width: 480px;
  max-height: 536px;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 40px;
  font-family: "Inter", sans-serif;
}

.form__title {
  display: flex;
  justify-content: center;
  color: #000000;
  font-weight: bold;
  font-size: 33px;
  margin: 0px 390px 0px 430px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form__fieldset {
  margin-bottom: 30px;
  border: none;
}

.form__label {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
  margin-top: 32px;
}

.form__input {
  background: #ffffff;
  border: 1px solid #838383;
  box-sizing: border-box;
  padding: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
}

.form__input::placeholder {
  font-size: 16px;
  color: #8b8b8b;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__label[for="terms"] {
  display: inline;
  margin-left: 12px;
  vertical-align: middle;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="datetime-local"],
.form__input[type="email"] {
  width: 400px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input[type="checkbox"] {
  border-radius: 2px;
  min-width: 28px;
  min-height: 28px;
  vertical-align: middle;
}

.form__button[type="submit"] {
  min-width: 400px;
  min-height: 60px;
  background: #2f71e5;
  color: #ffffff;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button[type="reset"] {
  border: none;
  background: none;
  color: #2f71e5;
  font-size: 16px;
  margin-left: 20px;
}

.form__input[type="text"]:focus,
.form__input[type="password"]:focus {
  outline-color: #2f71e5;
  outline-style: solid;
  outline-width: 1px;
}

.button-container,
.checkbox-container {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center;
  margin-top: 22px;
  margin-left: 30px; /* Adds space above */
}

.checkbox-container label {
  margin: 0px 8px; /* Adds space between checkbox and label */
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
