.form {
  margin: 0 auto;
  max-width: 385px;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

.form__fieldset {
  margin: 0px 0px 30px 0px;
  padding: 0;
  border: none;
}

.form__label {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
  margin-top: 32px;
}

.form__input {
  width: 400px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #838383;
  box-sizing: border-box;
  padding: 15px 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
}

/*
.form__input[type="text"],
.form__input[type="number"],
.form__input[type="datetime-local"],
.form__input[type="email"] {
  width: 400px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__input--email {
  width: 400px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input--text {
  width: 400px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input--number {
  width: 400px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input--datetime-local {
  width: 400px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
*/
.form__input::placeholder {
  font-size: 16px;
  color: #8b8b8b;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}



.form__label:last-of-type {
  display: flex;
  margin-bottom: 0;
  margin-left: 12px;
  vertical-align: middle;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}


.form__input[type="checkbox"] {
  border-radius: 2px;
  min-width: 20px;
  min-height: 20px;
  vertical-align: middle;
}

.form__button {
  min-width: 400px;
  min-height: 60px;
  background: #2f71e5;
  color: #ffffff;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.form__button[type="reset"] {
  border: none;
  background: none;
  color: #2f71e5;
  font-size: 16px;
  margin-left: 20px;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__input[type="text"]:focus,
.form__input[type="password"]:focus {
  outline-color: #2f71e5;
  outline-style: solid;
  outline-width: 1px;
}

.button-container,
.form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.form__checkbox label {
  margin: 0px 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  margin: 0;
  padding: 0;
  border-radius: 2px;
  min-width: 28px;
  min-height: 28px;
  vertical-align: middle;
}

