.reservation {
  padding: 100px 70px 120px;
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-position: center;
  background-size: cover;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
}

.reservation__form {
  margin: 0 auto;
  margin-top: 48px;
}

.reservation__title {
  display: flex;
  justify-content: center;
  color: #000000;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0;
}
